<%- include('../partials/nav') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=plant.name%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1><%= plant.name %></h1>   
    <di class="plantDetails"> 
    <ul>
      <li>Description: <%= plant.description%> </li> 
      <li>Type: <%= plant.type%></li>
      <li><% if (plant.indoor) {%>
        <p> This plant is best for indoors!</p>
        <%}else {%>
          <p>This plant is best for outdoors!</p>
        <%}%></li>
      </ul>
      </div>
      <form action="/plants/<%=plant._id%>?_method=DELETE" method="POST">
        <button type="submit"> Delete <%= plant.name %></button>

      </form>
      <a href="/plants/<%= plant._id %>/edit">Edit <%= plant.name %></a>
      <a href="/plants">Back to All Plants</a>
</body>
</html>